{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block body %}
<div class="row legend">
  <div class="video-container">
    <video src="/static/videos/cover.mp4" autoplay muted></video>
  </div>
</div>

{% endblock %}
{% block content %}
<section class="slide-in">
  <h1>About Us</h1>
  <div class="grid">
    <img class="slide-right" src="/static/images/slide1.png">
    <img class="slide-right" src="/static/images/slide2.png">
    <img class="slide-right" src="/static/images/slide3.png">
    <img class="slide-right" src="/static/images/slide4.png">
  </div>
  <div class="text">
    <p class="reveal">
      We are a team of passionate individuals dedicated to providing you with
      the best services in the field of agriculture technology. Our mission is to help farmers and agribusinesses
      achieve their goals by providing high-quality solutions that are tailored to their specific needs.
      We pride ourselves on our commitment to excellence and customer satisfaction. Whether you're
      a farmer, researcher, or agribusiness owner, our team is always here to assist you.

    </p>
  </div>
</section>

{% endblock %}